/* Hero Section */

.heroMenuSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #ededed;
    text-align: left;
    padding: 38px 30px;
    margin: 0 auto 144px auto;
    width: 100%;
    gap: 30px;
}

.heroMenuSection h1 {
    font-family:'Open Sans' ,sans-serif;
    font-size: 60px;
    text-align: left;

}

.heroMenuText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: -80px;
    margin-top: -20px;
    flex-shrink: 0;
}

.tagLineMenu {
    margin-left: 7px;
    font-family: "Open Sans", sans-serif;
    margin-top: 38px;
    letter-spacing: 0.03125em;
}

#preOrderBtn {
    margin-left: 75px;
    margin-top: 45px;
    background-color: #5c3b28;
    font-family: "Open Sans", sans-serif;
    border: none;
    padding: 15px 38px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    border-radius: 12px;
    font-size: 20px;
    color: white;
}

#preOrderBtn:hover {
    transition: transform 0.2s ease-in-out;
    transform: scale(1.07);
}

#preOrderBtn a {
    color: inherit;
}

.coffeeCupMenu img{
    width: 100%;
    height: auto;
    max-width: 200px;
}

.coffeeCups img {
    display: block;
    width: 100%;
    max-width: 420px;
    height: auto;
    margin: 0;
    border-radius: 45px;
    border: solid 1px white;
    box-shadow-blur: 5px;
}

/* Card Grid */

.cardGrid {
    font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    margin-top: -90px;
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.cardGrid img {
    width: 100%;
    height: 140px;
    max-width: 200px;
    object-fit: cover;
    border-radius: 25px;
}

.column {
    width: 30%;
    max-width: 950px;
    padding: 0 10px;
}

.card {
    background-color: white;
    border: #dfdbd8 2px solid;
    border-radius: 12px;
    display: grid;
    justify-items: center;
    gap: 20px;
    align-items: center;
    padding: 20px;
    cursor: pointer;
    box-shadow: 2px 8px 10px 2px rgba(0, 0, 0, 0.2);
    height: 450px;
}

.card:hover {
    transition: transform 0.5s ease-in-out;
    transform: scale(1.03);
}

.card p {
    font-weight: 530;
}

.tagLineCard p{
    font-family: "Open Sans", sans-serif;
}

a {
    color: inherit;
}

a:hover {
    color: #d2a679;
}

.cardLB {
    border: none;
    height: 2px;
    background-color: #5c3b28;
    width: 75%;
}