/* Hero Section */

.heroOrderSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    background-color: #ededed;
    text-align: center;
    padding: 30px 30px;
    margin: 0 auto 144px auto;
    width: 100%;
    gap: 60px;
}

.heroOrderSection h1 {
    font-family:'Open Sans' ,sans-serif;
    font-size: 55px;
    text-align: left;
    grid-column: 1;
    grid-row: 1;
}

.heroOrderText {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: start;
    margin-left: 40px;
    flex-grow: 1;
}

.shoppingBasketOrder {
    flex-shrink: 0;
}

.shoppingBasketOrder img {
    display: block;
    width: 100%;
    max-width: 220px;
    height: auto;
    margin: 0;
}

.menuBtn {
    margin: 45px 3px auto -7px;
    background-color: #5c3b28;
    font-family: "Open Sans", sans-serif;
    border: none;
    padding: 15px 38px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    border-radius: 12px;
    font-size: 20px;
    color: white;
    grid-column: 1;
    grid-row: 2;
    justify-self: start;
}

.menuBtn:hover {
    transition: transform 0.2s ease-in-out;
    transform: scale(1.07);
}

.menuBtn a {
    color: inherit;
}

/* Basket */

.cardLB {
    border: none;
    height: 2px;
    background-color: #5c3b28;
    width: 100%;
}

.basketContainer {
    grid-column: 2;
    grid-row: 1 / span 2;
    justify-self: end;
    background-color: #ffffff;
    padding: 24px;
    border-radius: 16px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
    width: 320px;
    min-height: 280px;
    max-height: 300px;
    display: flex;
    flex-direction: column;
}

.basket {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 20px;
}

.basketItem {
    font-family: "Open Sans", sans-serif;
    margin: auto;
}

.placeOrderBtn {
    margin-top: 95px;
    background-color: #5c3b28;
    font-family: "Open Sans", sans-serif;
    border: none;
    padding: 15px 38px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    border-radius: 12px;
    font-size: 20px;
    color: white;
    width: 100%;
}

.placeOrderBtn:hover {
    transition: transform 0.2s ease-in-out;
    transform: scale(1.05);
}